/* 
	Weight axis: 100 – 700
	Width axis: 85 – 100
*/
@font-face {
  font-family: "IBM Plex Sans Roman";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/IBMPlexSansVar-Roman.ttf");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans Roman", Times;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 60vh;
  flex-direction: column;
  background-color: #d6e4f0;
}

h1 {
  font-weight: 100;
  font-size: 10vw;
  line-height: 10vw;
  font-variation-settings: "wght" 100, "wdth" 85;
}

.breathe-animation .char {
  --delay: calc((var(--char-index) + 1) * 400ms);
  animation: breathe 4000ms infinite both;
  animation-delay: var(--delay);
}

.breathe-animation:hover span {
  animation-play-state: paused;
}

@keyframes breathe {
  0% {
    font-variation-settings: "wght" 100, "wdth" 85;
    font-size: 10vw;
  }
  60% {
    font-variation-settings: "wght" 700, "wdth" 100;
    font-size: 14vw;
  }

  100% {
    font-variation-settings: "wght" 100, "wdth" 85;
    font-size: 10vw;
  }
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  font-weight: bolder;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid rgb(0, 0, 0);
  margin: 20px 20px 20px 20px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  letter-spacing: 1px;
}

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-2 a {
  position: relative;
  transition: all 0.35s ease-Out;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: rgb(243, 245, 245);
  position: absolute;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#slide1 {
  width: 100%;
  height: 100%;
  left: -200px;
  background: rgb(243, 245, 245);
  position: absolute;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#button-2:hover #slide {
  left: 0;
}
#button-2:hover #slide1 {
  left: 0;
}

#button-2:hover a {
  color: #2d3142;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.animation {
	vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  color: #fff;
  display: inline-block;
  animation: fadeIn 1.5s forwards;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.first {
  display: inline-block;
  animation: firstSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background: #333;
  z-index: 1;
  position: relative;
}

.oh {
  display: inline-flex;
  overflow: hidden;
}

.second {
  animation: secondSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  font-weight: 100;
  z-index: -1;
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes firstSpan {
  0% {
    transform: translateX(50%);
  }
  60% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes secondSpan {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-0%);
  }
}
.title {
  text-decoration: underline;
}
.info {
  font-size: 30px;
}

img{
	padding-top: 40px;
	width: 350px;
}